//cекція головна ідея
.hero {
    width: 480px;
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: $secondary-bkg-color;
    text-align: center;
    align-content: center;
    justify-content: center;

    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../../images/hero/hero-480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
            background-image:linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
            url(../../../images/hero/hero-480@2x.jpg)
    }

    @media screen and(min-width:$tablet)and(max-width:calc($desktop - 1px)){
        width: $tablet;
        background-image:linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../../image/hero/hero-768.jpg);
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../../../images/hero/hero-768@2x.jpg)

    }
}

        @media screen and(min-width:$desktop) {
            width: 100%;
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-image:linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../../../images/hero/hero-1600.jpg);
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../../../images/hero/hero-1600@2x.jpg)
            }
}
}



//заголовок головної ідеї

.hero__title {
    margin: 0;
    margin-bottom: 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px; //mobile
    line-height: 1.364;
    /* если поставить множитель 1.36 - тогда размер блока будет меньше на 2px */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    hyphens: manual;

    @media screen and (min-width:$desktop) {
    font-size: 44px;
    }
}


// кнопка замовлення послуги
.hero__button {
    @extend %button;
    width: 216px;
}