//cекція инструменти
.instrument {

    width: calc(100% - 2*15px);
    margin:15px;

    @media screen and (min-width:$tablet) {
        width: calc((100% - 4*15px)/2);
    }

    @media screen and (min-width:$desktop) {
        width: calc((100% - 8*15px)/4);
    }



}

.instrument__area {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: $calm-button-bg-color;
    border-radius: 4px;
    margin-bottom: 30px;

    
}

// іконка для інструментів 
.instrument__icon {
    height: 70px;
    width: 70px;
}

//стиль для заголовків інструментів
.instrument__title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;

    font-weight: $main-titles-font-weight;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}

//стиль для опису інструментів
.instrument__text {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.03em;
}