//хедер та навігація
.header {
    display: block;
    border-bottom: 1px solid $bordering-color;
    background-color: $primary-white-color;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9; 
    
    //максимальне значення більше тільки у модального вікна
}
//стиль меню навігації 
.nav {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and(max-width:calc($tablet - 1px)) {
        justify-content: space-between;
    }
}
//меню до планшета не відображаємо
.nav__menu{

    @media screen and(max-width:calc($tablet - 1px)) {
        display: none; 
    }
    display: flex;
    flex-direction: row;
    width: 100%;
}


.site-nav,
.cont-nav {

    @extend %list;

    @media screen and(min-width:$tablet) {
        display: flex;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    
}






// встановлюємо відстань між єлементами меню навігації
.site-nav__item {
    display: block;
    @media screen and(max-width:calc($tablet - 1px)) {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
    }

    @media screen and(min-width:$tablet) {
            margin-right: 50px;
            
                &:last-child {
                    margin-right: 0;
                }
    }

}

.site-nav__link {
    display: block;
    color: $primary-text-color;
    text-decoration: none;
    &--current {
    color: $accent-color;}


    @media screen and (min-width:$tablet) {
        position: relative;
        
        padding-top: 32px;
        padding-bottom: 32px;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &--current::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
        
                    display: block;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $accent-color;
                }
            }
    
    

    //ховер і фокус у навігації
    &:hover,
    &:focus {
        color: $accent-color;
    }

    //індикація актикного(поточного) пункту меню(сторінки) у навигації
    
}

// контакти у хедері
.cont-nav {
    justify-content: center;

    @media screen and(max-width:calc($tablet - 1px)) {
        margin-top: auto;
        margin-bottom: 64px;
    }
    @media screen and(min-width:$tablet) and(max-width:calc($desktop - 1px)) {
        flex-direction: column;
        align-items: flex-start;
        
    }

    @media screen and(min-width:$tablet) {
        margin-left: auto;
    }


}

.cont-nav__link {
    color: currentColor;
    text-decoration: none;

    display: flex;
    align-items: center;

    @media screen and(min-width:$desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.cont-nav__item {
    color: $secondary-text-color;

    @media screen and(max-width:calc($tablet - 1px)) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-bottom: 32px;

        transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                    font-size: 34px;
                }
        }

        @media screen and(min-width:$tablet) and(max-width:calc($desktop - 1px)){
            font-size: 12px;
            line-height: 1.17;
            margin-bottom: 10px;
        }


    @media screen and(min-width:$desktop) {
    margin-right: 30px;
    }

    &:last-child {
        margin: 0;
    }

}

.cont-nav__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
}